@tailwind base;
@tailwind components;
@tailwind utilities;


/* Estilos globais para garantir o scroll correto */
html,
body {
  height: 100%;
  overflow-y: auto;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  overflow-y: auto;
}

/* Ajuste para o conteúdo principal */
.container {
  max-width: 100%;
  overflow-x: hidden;
}

/* Estilos para garantir que modais e dropdowns apareçam corretamente */
.modal,
.dropdown-content {
  z-index: 9999;
}
